<main class="container">
    <!-- Alerta de producto agregado -->
    @if (mostrarAlerta) {
      <div class="alerta-exito">
        {{ alertaMensaje }}
      </div>
    }
    <div class="product-grid">
      <!-- Producto -->
       @for (producto of productos; track producto.cod_producto) {
      <div class="product-card">
        <div class="product-image"></div>
        <h3>{{producto.nombre_p}}</h3>
        <p>{{producto.precio_p}}</p>
        <button (click)="agregar_productos_carrito(producto)" [disabled]="producto.unidades_p <= 0">Añadir al carrito</button>
      </div>
      }
    </div>
  </main>