<div class="parent">
  <div class="main-panel">
    <section class="status-section">
        @if (loading) {
            <p class="loading-message">Procesando pago...</p>
        } @else if (error) {
            <p class="error-message">Ha ocurrido un error con la transacción, por favor intente nuevamente.</p>
        } @else if (transactionData?.status === 'success') {
            <p class="success-message">¡Gracias por tu compra!</p>
        }
    </section>

    <section class="info-section">
        @if (transactionData) {
            <div class="panel-lateral">
                <h2 class="panel-title">Información de la transacción</h2>
                <div class="dato">
                    <span>Estado</span> <span>|</span> <span [class.text-green-500]="transactionData?.status === 'success'">{{ transactionData?.status === 'success' ? 'Aprobado' : 'Rechazado' }}</span>
                </div>
                <div class="dato">
                    <span>Monto</span> <span>|</span> <span>${{ transactionData.amount?.toLocaleString('es-CL') }}</span>
                </div>
                <div class="dato">
                    <span>Tarjeta</span> <span>|</span> <span>**** **** **** {{ transactionData.card_number?.slice(-4) }}</span>
                </div>
                <div class="dato">
                    <span>Orden</span> <span>|</span> <span>{{ transactionData.buy_order }}</span>
                </div>
            </div>
        } @else if (!loading && !error) {
            <p class="loading-message">Cargando información de la transacción...</p>
        }
    </section>

    <section class="button-section">
        <button class="volver-button" (click)="volverAInicio()">
            Volver a la tienda
        </button>
    </section>
  </div>
</div>
